---
layout: wide-page
title: illustration
---

{% assign images = "" %}

{% for image in site.static_files %}
    {% if image.path contains 'illustration/' %}
        <!-- don't display serial images on art/design page -->
        {% unless image.path contains '_' %}
            <!-- get image path -->
            {% assign imagepath = image.path | split: "/" %}

            <!-- get image name from image path -->
            {% for subpath in imagepath %}
                {% if forloop.index0 == 3 %}
                    {% assign imagename = subpath | replace: "-", " " | replace: ".png", "" | replace: ".jpg", "" %}
                    {% capture url %}img={{ subpath | uri_escape }}{% endcapture %}
                {% endif %}
            {% endfor %}

            {% capture img_display %}
                <div class="flex-item">
                    <a class="art-image" href="image?{{ url }}">
                        <div class="img-wrapper" title="{{ imagename }}">
                            <img src="{{ image.path }}" alt="{{ imagename }}">
                        </div>
                    </a>
                </div>
            {% endcapture %}
            {% assign images = images | append: img_display %}
        {% endunless %}
    {% endif %}
{% endfor %}

<div class="flex-container">
    {{ images }}
</div>
