.art {
  @extend img;
  margin: 0 0 0 0;
  border-radius: 0px;
}

.vertical {
  @extend .art;
  max-height: 650px;
  max-width: auto;
}

.arttitle {
  @extend h1;
  font-style: italic;
  line-height: 1;
  margin-top: 0rem;
  margin-bottom: 3rem;
}

// styling for contact.html

.profile {
  @extend img;
  margin: 0 1em;
  max-height: 250px;
  max-width: auto;
}

.box {
  max-width: 100%;
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  justify-content: center;
  @media (min-width: $large-breakpoint) {
    justify-content: left;
  }
}

.textbox {
  @media (min-width: $large-breakpoint) {
    max-width: 28vw;
  }
}
