.art {
  @extend img;
  margin: 0 0 0 0;
  border-radius: 0px;
}

.vertical {
  @extend .art;
  max-height: 650px;
  max-width: auto;
}

.profile {
  @extend img;
  margin: 0 1em;
  float: right;
  max-height: 250px;
  max-width: auto;
}

.box {
   display: flex;
   align-items: center;
}

.arttitle {
  @extend h1;
  font-style: italic;
  line-height: 1;
  margin-top: 0rem;
  margin-bottom: 3rem;
}
