{% comment %}
  The code below dynamically generates a sidebar nav of pages with
  `sidebar_link: true` in the front-matter. See readme for usage.

  hard coded contact page to ensure it is the last page link
{% endcomment %}
{% assign pages_list = site.pages|sort:"sidebar_sort_order" %}
{% for node in pages_list %}
  {% if node.title != null %}
    {% if node.sidebar_link %}
        {% if node.title == "contact" %}
            {% capture contactlink %}
                <a class="page-link {% if page.url == node.url %} active{% endif %}"
                href="{{ site.baseurl }}{{ node.url }}">{{ node.title }}</a>
            {% endcapture %}
        {% else %}
          <a class="page-link {% if page.url == node.url %} active{% endif %}"
              href="{{ site.baseurl }}{{ node.url }}">{{ node.title }}</a>
        {% endif %}
    {% endif %}
  {% endif %}
{% endfor %}

{{ contactlink }}
