<nav id="sidebar-icon-links">
  <a id="email"
     class="icon" title="Email" aria-label="Email"
     href="mailto:emilyhong@college.harvard.edu">
    {% include svg/email.svg %}
  </a>
  <a id="linkedin-link"
     class="icon" title="Linkedin" aria-label="Linkedin"
     href="https://www.linkedin.com/in/emily-hong-5a2050168/">
    {% include svg/linkedin.svg %}
  </a>
  <a id="instagram-link"
     class="icon" title="Instagram" aria-label="Instagram"
     href="https://www.instagram.com/elyhng/">
    {% include svg/instagram.svg %}
  </a>
  {% if site.github.repo %}
    <a id="github-link"
       class="icon" title="Github" aria-label="Github"
       href="{{ site.github.repo }}">
      {% include svg/github.svg %}
    </a>
  {% endif %}
  <a id="society6-link"
     class="icon" title="Society6" aria-label="Society6"
     href="https://society6.com/ehhmily">
    {% include svg/society6.svg %}
  </a>
  {% include custom-icon-links.html %}
</nav>
