<nav id="sidebar-icon-links">
  <a id="email"
     class="icon" title="Email" aria-label="Email"
     href="mailto:emilyhong@college.harvard.edu">
    {% include svg/email.svg %}
  </a>
  <a id="instagram-link"
     class="icon" title="Instagram" aria-label="Instagram"
     href="https://www.instagram.com/elyhng/">
    {% include svg/instagram.svg %}
  </a>
  {% if site.github.repo %}
    <a id="github-link"
       class="icon" title="Github" aria-label="Github"
       href="{{ site.github.repo }}">
      {% include svg/github.svg %}
    </a>
  {% endif %}

  {% include custom-icon-links.html %}
</nav>
